[submodule "egoscaler/data/third_party/llama3"]
	path = egoscaler/data/third_party/llama3
	url = https://github.com/meta-llama/llama3.git
[submodule "egoscaler/models/pointllm/checkpoints/PointLLM_7B_v1.1_init"]
	path = egoscaler/models/pointllm/checkpoints/PointLLM_7B_v1.1_init
	url = https://huggingface.co/RunsenXu/PointLLM_7B_v1.1_init
[submodule "egoscaler/data/third_party/CUT3R"]
	path = egoscaler/data/third_party/CUT3R
	url = https://github.com/sk4161/CUT3R.git
[submodule "egoscaler/data/third_party/Grounded-SAM-2"]
	path = egoscaler/data/third_party/Grounded-SAM-2
	url = https://github.com/sk4161/Grounded-SAM-2.git
[submodule "egoscaler/data/third_party/mega-sam"]
	path = egoscaler/data/third_party/mega-sam
	url = https://github.com/mega-sam/mega-sam.git
